body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.home-header {
  text-align: center;
  padding: 20px;
}

.big-image {
  width: 100%;
  max-height: auto;
}


.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.product-card h2 {
  margin-bottom: 10px;
}

/* Add a smaller rectangular box around the product list with a fixed width */
.product-list-container {
  background-color: rgb(211, 210, 214);
  padding: 10px; /* Reduced padding */
  margin: 10px; /* Reduced margin */
  max-width: 200px; /* Set a fixed width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

.product-list {
  display: flex;
}