/* Background */
body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Arial', sans-serif;
  }
  
  /* Cart Container */
  .cart-container {
    width: auto;  /* Increased from 60% to 80% */
    margin: auto;
    border-radius: 8px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Cart Title */
  .cart-title {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Cart List */
  .cart-list {
    list-style-type: none;
    padding: 0;
  }
  
  /* Empty Cart Message */
  .empty-cart-message {
    text-align: center;
    font-size: 1.2em;
    color: #555;
  }
  
  /* Cart Item */
  .cart-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
  }
  
  .cart-item:hover {
    background-color: #f9f9f9;
  }
  
  /* Item details */
  .item-name { flex: 3; }  /* Adjusted flex property */
  .item-price { flex: 1;
    margin-left: 20px; }  /* Adjusted flex property */
  .item-quantity { flex: 2;
  margin-left: 20px; }  /* Adjusted flex property */
  
  /* Buttons */
  .remove-button, .place-order-button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .remove-button:hover, .place-order-button:hover {
    background-color: black;
  }
  
  /* Icons */
  .fas {
    margin-right: 8px;
  }
  
  /* Cart Total */
  .cart-total {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    margin-top: 30px;
  }
  
  .total-price {
    color: black;
  }
  
  /* Cart Item with scale animation and shadow on hover */
.cart-item:hover {
    background-color: #f9f9f9;
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  
  /* Buttons with scale animation and shadow on hover */
  .remove-button:hover, .place-order-button:hover {
    background-color: rgb(151, 151, 201);
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  
  /* Cart container with a subtle shadow on hover */
  .cart-container:hover {
    box-shadow: 0px 12px 24px rgba(0,0,0,0.1);
  }
  
  /* Smooth transitions */
  .cart-item, .remove-button, .place-order-button, .cart-container {
    transition: all 0.3s ease;
  }
  
  /* Interactive total price with a small bounce on hover */
  .cart-total:hover .total-price {
    animation: bounce 0.3s ease;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-5px);
    }
    60% {
      transform: translateY(-3px);
    }
  }