/* Existing Navbar Styles */
nav {
  background-color: #2e2c2d;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
  font-size: 18px;
  position: relative; /* Added for dropdown */
}

a {
  text-decoration: none;
  color: #4d4d4d;
  transition: color 0.3s, background-color 0.3s; /* Updated for background transition */
  padding: 10px; /* Added for better hover effect */
}

a:hover {
  color: #8a8a8a;
  background-color: rgba(255, 255, 255, 0.1); /* Added for hover effect */
}

a[href="/"]:not(.big-image):not(.product-card),
a[href="/cart"]:not(.big-image):not(.product-card) {
  color: #d8d3cf;
  font-weight: bold;
}
a[href="https://authorize-wearhouse.auth.ap-south-1.amazoncognito.com/oauth2/authorize?client_id=5bj5dteg80a5rjvnpske2sun69&response_type=code&scope=email+openid+phone&redirect_uri=https%3A%2F%2Fmaster.d1wea5u9my7fnf.amplifyapp.com%2F"]:not(.big-image):not(.product-card) {
  color: #d8d3cf;
  font-weight: bold;
}

/* New Interactive Features */

/* Dropdown styles */
li .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 200px;
}

li .dropdown a {
  display: block;
  padding: 10px;
  color: #fff;
}

li:hover .dropdown {
  display: block;
}

a[href="/login"]:not(.big-image):not(.product-card) {
  color: #d8d3cf; /* Text color for the "CART" link */
  font-weight: bold; /* Make the text bold */
}