nav {
  background-color: #2e2c2d;
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
  font-size: 18px;
}

/* Style for the links */
a {
  text-decoration: none;
  color: #4d4d4d;
  transition: color 0.3s;
}

a:hover {
  color: #8a8a8a;
}

/* Specific style for Home and Cart links */
a[href="/"]:not(.big-image):not(.product-card) {
  color: #d8d3cf; /* Text color for Home and Cart links */
  font-weight: bold; /* Make the text bold */
}

a[href="/cart"]:not(.big-image):not(.product-card) {
  color: #d8d3cf; /* Text color for the "CART" link */
  font-weight: bold; /* Make the text bold */
}
